<div class="content">
        <div class="columns">

            <div class="column is-one-quarter"></div>

        <div class="card">
                <div class="card-image">
                  <figure class="image">
                    <img src="/assets/pizza.jpg" alt="Placeholder image">
                  </figure>
                </div>
                <div class="card-content">
                  <div class="media">
                    <div class="media-content">
                      <p class="title is-4">Portable Pizza Pouch</p>
                      <p class="subtitle is-6">holds your backup slice</p>
                    </div>
                  </div>
              
                  <div class="content">
                      Portable neck strap design for the Pizza Lover
                  </div>




                  <payment-request 
                          [amount]="2300" 
                          [label]="'Pizza Pouch'">
                          
                  </payment-request>
               
                
                
                
                
                </div>
              </div>

    <div class="column is-one-quarter"></div>
    
</div>


<router-outlet></router-outlet>
