<div class="content">
        <div class="columns">

            <div class="column is-one-quarter"></div>

        <div class="card">
                <div class="card-image">
                  <figure class="image">
                    <img src="/assets/unicorn.jpg" alt="Placeholder image">
                  </figure>
                </div>
                <div class="card-content">
                  <div class="media">
                    <div class="media-content">
                      <p class="title is-4">Unicorn Meat</p>
                      <p class="subtitle is-6">premium grade</p>
                    </div>
                  </div>
              
                  <div class="content">
                        5.5-OUNCE UNICORN MEAT - Item is a 5.5-ounce delicious unicorn meat, canned for your convenience.
                  </div>




                  <payment-request 
                          [amount]="2300" 
                          [label]="'Unicorn Meat 5.5 Ounce Can'">
                          
                  </payment-request>
               
                
                
                
                
                </div>
              </div>

    <div class="column is-one-quarter"></div>
    
</div>


<router-outlet></router-outlet>
